.main {
  max-width: 880px;
}

.cards {
  max-width: 880px;
}

.card {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 17px;
  padding: 0;
}

.card__imagens {
  background: white;
  border-radius: 3%;
}

.card__imagens_img {
  max-width: 282px;
}

.card__texto {
  background-color: white;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  padding: 25px 20px;
}

.card__imagens_texto {
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  gap: 3px;
}

.card__button_heart {
  background: url(../imagens/Group.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__button_heart:hover {
  opacity: 0.5;
  transition: 0.8s;
}

.card__button_heart_isActive {
  background: url(../imagens/Union.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__heart-count {
  color: black;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 544px) {
  .main {
    max-width: 320px;
  }

  .cards {
    gap: 20px;
  }
}