.header {
  max-width: 880px;
}

.header__logo {
  border-bottom: 1px solid grey;
}

.header__img {
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 320px;
  }

  .header__logo {
    max-width: 320px;
  }

}
